{% load static %}
              <!-- Navbar -->
              <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
                      <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{%static 'img/logo.png' %}" class="logo" alt="">
                      </a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav">
                          <li
                            {% if '/' == request.path %}
                            class="nav-item active mr-3"
                            {% else %}
                             class="nav-item mr-3"
                            {% endif %}
                          >
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                          </li>
                          <li
                            {% if 'about' in request.path %}
                            class="nav-item active mr-3"
                            {% else %}
                             class="nav-item mr-3"
                            {% endif %}
                          >
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                          </li>
                          <li
                          {% if 'announcements' in request.path %}
                          class="nav-item active mr-3"
                          {% else %}
                           class="nav-item mr-3"
                          {% endif %}
                        >
                            <a class="nav-link" href="{% url 'announcements' %}">Announcements</a>
                          </li>
                          <li
                          {% if 'downloadables' in request.path %}
                          class="nav-item active mr-3"
                          {% else %}
                           class="nav-item mr-3"
                          {% endif %}
                        >
                            <a class="nav-link" href="#">Downloadables</a>
                          </li>
                        </ul>
                
                        <ul class="navbar-nav ml-auto">
                          <li
                          {% if 'register' in request.path %}
                            class="nav-item active mr-3"
                          {% else %}
                           class="nav-item mr-3"
                          {% endif %}
                          >
                            <a class="nav-link" href="{% url 'register' %}">
                              <i class="fas fa-user-plus"></i> Register</a>
                          </li>
                          <li
                          {% if 'login' in request.path %}
                            class="nav-item active mr-3"
                          {% else %}
                           class="nav-item mr-3"
                          {% endif %}
                          >
                            <a class="nav-link" href="{% url 'login' %}">
                              <i class="fas fa-sign-in-alt"></i>
                
                              Login</a>
                          </li>
                        </ul>
                        <form class="form-inline mt-2 mt-md-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                      </div>
                    
                  </nav>