{% extends 'base.html' %}
<br><br><br><br>
<br>
{% block content %}
<main>

    <br>
    <nav id="admin-nav" class="navbar navbar-expand bg-light">
        <a class="navbar-brand" href="#">Admin</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link">Home <span class="sr-only">(current)</span></a>
                <a href="#" class="nav-item nav-link">Features</a>
                <a href="#" class="nav-item nav-link">Pricing</a>
                <a href="#" class="nav-item nav-link disabled">disabled</a>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="col-md-8">
            <div class="rows">
                <h3>Ang unang basehan ng tagumpay</h3>
            </div>
        </div>
    </div>

</main>
{% endblock %}