{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="container">
   <div class="row">
      <h2>Your Profile</h2>
      <div class="col-md-7">
          <div class="panel pane-default">
              <div class="panel-heading"><h4>User Profile</h4></div>
              <div class="panel-body">
                  <div class="box box-info">
                      <div class="box-body">
                          <div class="col-sm-6">
                              <div align="center">
                                  <img src="{{user.photo_main.url}}" alt="User Pic" id="profile-image1"
                                   class="img-circle img-responsive">
                                   <input type="file" class="hidden" id="profile-image-upload">
                                   <div style="color:#999;">click here to change profile image</div>
                              </div>
                              <br>
                          </div>
                          <!-- input group -->
                          <div class="sm-col-6">
                              <h4 style="color:#00b1b1;"><span>{{user.first_name}} {{user.middle_name}} 
                                  {{ user.last_name}}
                              </span></h4>
                          </div>
                          <div class="clearfix">
                              <hr style="margin:5px 0 5px 0;">
                          </div>
                          <div class="col-sm-5 col-xs-6 title">birthplace: </div>
                              <div class="col-sm-7 col-xs-6">{{user.birthplace}}
                          </div>
                          <div class="col-sm-5 col-xs-6 title">birthdate: </div>
                          <div class="col-sm-7 col-xs-6">{{user.birthdate}}
                          </div>
                          <div class="col-sm-5 col-xs-6 title">House number: </div>
                          <div class="col-sm-7 col-xs-6">{{user.house_num}}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   </div>
</div>


{% endblock %}