{% extends 'base.html' %}
{% block title %} | Profile Account {% endblock %}
{% block content %}
<br>
<br>
<br>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-1 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <br>
                <a class="nav-link active" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
</div>

<main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4">
  <img class="rounded-circle article-img" src="{{user.photo_main.url}}">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">You Profile</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="card">
        <div class="col-sm-6">
          <label for="birthdate">Birthdate</label>
        </div>
        <div class="col-sm-6">
            <label for="birthdate">{{user.birthdate}}</label>
        </div>     
    </div>

        <h1>Wala lang</h1>
        <h2>pota</h2>
        <h3>Ayan na</h3>
    </div>
  </div>
{% endblock %}