
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} | Dashboard {% endblock %}
{% block content %}
<br>
<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">Welcome {{user.username}}</h1>
              <p class="lead">Manage your Brgy Del Rosario account</p>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> Dashboard</li>
            </ol>
          </nav>
        </div>
      </section>

      <!-- Alerts -->
      {% include 'partials/_alerts.html' %}

      <section id="dashboard" class="py-4">
        <div class="container">
          <div class="card">
            <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img" 
                 style="height:120px; width:150px;">
              <div class="media-body">
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary">{{user.email}}</p>
              </div>
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                 <fieldset class="form-group">
                     <legend class="border-bottom mb-4">Profile Info</legend>
                     {{ u_form | crispy }}
                     {{ p_form | crispy }}
                 </fieldset>
                 <div class="form-group">
                     <button class="btn btn-outline-info" type="submit">Update</button>
                 </div>
             </form> 
          </div>
        </div>
      </section>
    
{% endblock %}